parameters:
	ignoreErrors:
		-
			message: '''
				#^Fetching class constant SCHEMA_URL of deprecated interface OpenTelemetry\\SemConv\\TraceAttributes\:
				Use \{@see OpenTelemetry\\SemConv\\Attributes\}\\\* or \{@see OpenTelemetry\\SemConv\\Unstable\\Attributes\}\\\* instead\.$#
			'''
			identifier: classConstant.deprecatedInterface
			count: 1
			path: src/LaravelOpenTelemetryServiceProvider.php
