parameters:
	ignoreErrors:
		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamStream\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamStream\\(\\) has parameter \\$continuation with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamStream\\(\\) has parameter \\$deserialize with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamStream\\(\\) has parameter \\$method with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamUnary\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamUnary\\(\\) has parameter \\$continuation with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamUnary\\(\\) has parameter \\$deserialize with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptStreamUnary\\(\\) has parameter \\$method with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryStream\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryStream\\(\\) has parameter \\$argument with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryStream\\(\\) has parameter \\$continuation with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryStream\\(\\) has parameter \\$deserialize with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryStream\\(\\) has parameter \\$method with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryUnary\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryUnary\\(\\) has parameter \\$argument with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryUnary\\(\\) has parameter \\$continuation with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryUnary\\(\\) has parameter \\$deserialize with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Method Keepsuit\\\\LaravelOpenTelemetry\\\\Grpc\\\\Interceptors\\\\ParentSpanTraceInterceptor\\:\\:interceptUnaryUnary\\(\\) has parameter \\$method with no type specified\\.$#"
			count: 1
			path: src/Grpc/Interceptors/ParentSpanTraceInterceptor.php

		-
			message: "#^Parameter \\#1 \\$name of static method Keepsuit\\\\LaravelOpenTelemetry\\\\Tracer\\:\\:build\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: src/Watchers/QueueWatcher.php

