parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkOctaneCompatibility: true
    checkPhpDocMissingReturn: true

    paths:
        - src

    level: 6

#    ignoreErrors:
