includes:
    - ./phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
